{% extends "main_form_design.html" %}

{% block content %}
    <div class="white-section section-lg-padding border-bottom">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-block text-center">
                        <h1>Информация о нашем сайте</h1>
                        <p>Easy language – это сайт, разработанный для изучения иностранных языков. С помощью Easy language вы сможете быстро и в игровой форме научиться различным иностранным языкам. На данный момент наш сайт поддерживает немецкий и английский языки. Для изучения языков у вас есть возможность проходить три различных вида теста. Также вы можете не только решать уже существующие тесты, но и создавать свои, а затем делиться ими с другими людьми. Начните изучать иностранные языки вместе с Easy language!</p>
                        <a href="/" title="Вернуться на главную" class="btn btn-lpbuilder wave-effect">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Java Script Files
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    ======================================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mobile/mobile.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="text/javascript" src="https://lpbuilder.pro/js/app.js"></script>
    <style>
    #style-switcher {
    z-index: 9999;
    position: fixed;
    top: 100px;
    width: 212px;
    height: auto;
    /*min-height: 200px;*/
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    background: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    }

    .close-style-switcher {
    left: -212px;
    }

    .open-style-switcher {
    left: -1px;
    }

    #style-switcher .segment {
    width: 100%;
    padding: 15px 10px 15px 0;
    padding: 15px 25px;

    }

    #style-switcher a.panel-button {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    background: white;
    cursor: pointer;
    }

    #style-switcher h3 {
    margin: 0;
    }

    #style-switcher .segment a.switcher {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 3px;
    border: 1px solid #efefef;
    cursor: pointer;
    }

    .red-bg {
    background: #EF4035;
    }

    .orange-bg {
    background: #F26F21;
    }

    .yellow-bg {
    background: #FFC153;
    }

    .green-bg {
    background: #5CB85C;
    }

    .turquoise-bg {
    background: #41C4AB;
    }

    .aqua-bg {
    background: #38E6D8;
    }

    .blue-bg {
    background: #0A8FD5;
    }

    .purple-bg {
    background: #AC5AFF;
    }

    .pink-bg {
    background: #F62459;
    }

    .tan-bg {
    background: #C2B49A;
    }

    @media(max-width:480px) {
    #style-switcher {
    top: 30px;
    }
    }
    </style>
{% endblock %}