<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}{% endblock %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<nav>
{% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
<a class="navbar-brand" href="/profile/{{current_user.id}}">Профиль</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
</nav>
<p>Профиль:</p>
<p>Имя:{{name}}</p>
<p>Фамилия:{{surname}}</p>
<p>Статус:{{status}}</p>
<p>Почта:{{email}}</p>
<a class="btn btn-primary " href="/user_edit/{{current_user.id}}">Изменить</a>
<a class="btn btn-primary " href="/created_test_page/{{current_user.id}}">Созданные тесты</a>
</body>
</html>