{% extends "main_form_design.html" %}

{% block content %}
    <div class="white-section section-lg-padding border-bottom">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                        <div class="title-block-container text-center">
                            <h2>ПРОФИЛЬ</h2>
                            <p>Имя: {{user_data.name}}</p>
                            <p>Фамилия: {{user_data.surname}}</p>
                            <p>Почта: {{user_data.email}}</p>
                            <div class="title-block-container white-content remove-white-content text-center">
                                <a href="/user_edit" title="Изменить" class="btn btn-lpbuilder-white wave-effect">Изменить</a>
                                <a href="/my_tests" title="Созданные тесты" class="btn btn-lpbuilder wave-effect">Созданные тесты</a>
                            </div>
                            <a href="/logout" title="Выйти из профиля" class="btn btn-lpbuilder wave-effect">Выйти из профиля</a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- Java Script Files
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    ======================================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mobile/mobile.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="text/javascript" src="https://lpbuilder.pro/js/app.js"></script>
    <style>
    #style-switcher {
    z-index: 9999;
    position: fixed;
    top: 100px;
    width: 212px;
    height: auto;
    /*min-height: 200px;*/
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    background: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    }

    .close-style-switcher {
    left: -212px;
    }

    .open-style-switcher {
    left: -1px;
    }

    #style-switcher .segment {
    width: 100%;
    padding: 15px 10px 15px 0;
    padding: 15px 25px;

    }

    #style-switcher a.panel-button {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    background: white;
    cursor: pointer;
    }

    #style-switcher h3 {
    margin: 0;
    }

    #style-switcher .segment a.switcher {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 3px;
    border: 1px solid #efefef;
    cursor: pointer;
    }

    .red-bg {
    background: #EF4035;
    }

    .orange-bg {
    background: #F26F21;
    }

    .yellow-bg {
    background: #FFC153;
    }

    .green-bg {
    background: #5CB85C;
    }

    .turquoise-bg {
    background: #41C4AB;
    }

    .aqua-bg {
    background: #38E6D8;
    }

    .blue-bg {
    background: #0A8FD5;
    }

    .purple-bg {
    background: #AC5AFF;
    }

    .pink-bg {
    background: #F62459;
    }

    .tan-bg {
    background: #C2B49A;
    }

    @media(max-width:480px) {
    #style-switcher {
    top: 30px;
    }
    }
    </style>
{% endblock %}