{% extends "main_form_design.html" %}

{% block content %}
    <div id="cta-section-3" class="cta-section">
        <div class="white-section">
            <div class="section-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-block">
                                <div class="image-block-container">
                                    <img src="{{ url_for('static', filename=test.title_picture) }}" alt="Image Block">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 title-block">
                                    <div class="title-block-container">
                                        <h2>{{test.title}}</h2>
                                        <div class="line-separator"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 content-b lock">
                                    <div class="content-block-container">
                                        <h2>Язык: {{test.test_language}}</h2>
                                        <h4>{{test.description}}</h4>
                                        <h4>Автор теста <a href="/open_user_tests/{{ test.author.id }}" title="Автор" class="wave-effect">{{ test.author.name }} {{ test.author.surname }}</a></h4>
                                        {% if test.author.id|string != current_user.get_id() %}
                                            {% if not subscribe %}
                                                <form method="post" action="">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lpbuilder wave-effect" value="Подписаться" name="subscribe_button">Подписаться</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <form method="post" action="">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lpbuilder wave-effect" value="Отписаться" name="subscribe_button">Отписаться</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            <a href="/my_tests" title="Мои тесты" class="btn btn-lpbuilder wave-effect">Мои тесты</a>
                                        {% endif %}
                                        <h1>________________________________</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if subscribe %}
                            {% if test.type == 'first_tests'%}
                                {% for i in range(2) %}
                                    <div class="col-md-3 col-sm-6 content-block">
                                        <div class="form-block-container text-center">
                                            <div class="col-md-6 text-center">
                                                <h3>Этап {{i + 1}}</h3>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/first_test/{{test.id}}/{{i + 1}}" title="Этап {{i + 1}}" class="btn-lpbuilder-circle btn-lpbuilder-circle-md wave-effect"><i class="fa fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif test.type == 'second_tests'%}
                                {% for i in range(2) %}
                                    <div class="col-md-3 col-sm-6 content-block">
                                        <div class="form-block-container text-center">
                                            <div class="col-md-6 text-center">
                                                <h3>Этап {{i + 1}}</h3>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/second_test/{{test.id}}/{{i + 1}}" title="Этап {{i + 1}}" class="btn-lpbuilder-circle btn-lpbuilder-circle-md wave-effect"><i class="fa fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for i in range(4) %}
                                    <div class="col-md-3 col-sm-6 content-block">
                                        <div class="form-block-container text-center">
                                            <div class="col-md-6 text-center">
                                                <h3>Этап {{i + 1}}</h3>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/third_test/{{test.id}}/{{i + 1}}" title="Этап {{i + 1}}" class="btn-lpbuilder-circle btn-lpbuilder-circle-md wave-effect"><i class="fa fa-angle-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Java Script Files
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    ======================================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mobile/mobile.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="text/javascript" src="https://lpbuilder.pro/js/app.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-155226992-1"></script>
    <style>
    #style-switcher {
    z-index: 9999;
    position: fixed;
    top: 100px;
    width: 212px;
    height: auto;
    /*min-height: 200px;*/
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    background: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    }

    .close-style-switcher {
    left: -212px;
    }

    .open-style-switcher {
    left: -1px;
    }

    #style-switcher .segment {
    width: 100%;
    padding: 15px 10px 15px 0;
    padding: 15px 25px;

    }

    #style-switcher a.panel-button {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    background: white;
    cursor: pointer;
    }

    #style-switcher h3 {
    margin: 0;
    }

    #style-switcher .segment a.switcher {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 3px;
    border: 1px solid #efefef;
    cursor: pointer;
    }

    .red-bg {
    background: #EF4035;
    }

    .orange-bg {
    background: #F26F21;
    }

    .yellow-bg {
    background: #FFC153;
    }

    .green-bg {
    background: #5CB85C;
    }

    .turquoise-bg {
    background: #41C4AB;
    }

    .aqua-bg {
    background: #38E6D8;
    }

    .blue-bg {
    background: #0A8FD5;
    }

    .purple-bg {
    background: #AC5AFF;
    }

    .pink-bg {
    background: #F62459;
    }

    .tan-bg {
    background: #C2B49A;
    }

    @media(max-width:480px) {
    #style-switcher {
    top: 30px;
    }
    }
    </style>
{% endblock %}
