<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}{% endblock %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
{% from '_formhelpers.html' import render_field %}
<form form action="" method="post" class="item" enctype="multipart/form-data" novalidate>
<p>
{% for subfield in form.right_image_choosing %}
           {{subfield}} {{subfield.data}}
           {% endfor %}
</p>
<p>{{form.question()}}</p>
<p>
{% for image in form.images %}
{{  image.hidden_tag() }}
<img src="{{images[loop.index - 1]}}" alt="здесь должна была быть картинка, но не нашлась" style="width:200px;height:200px;">
    {{ render_field(image.slot, required=true, size=32, onchange="this.form.submit()") }}
{% endfor %}
</p>
 <input type=submit name="over">
<p>{{ form.left(type="submit", class="btn btn-primary") }}</p>
<p>{{ form.right(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
</form>      
</body>
</html>